body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    color: #252525;
    font-family: "Cairo", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    grid-column: 2;
}


/* HEADER SECTION*/

header {
    grid-template-columns: 1fr 3fr 1fr;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 22vh;
    display: grid;
    grid-template-rows: 1fr 3.5fr;
}



.headerRow {
    user-select: none;
    align-content: center;
}

#headerRow1 {
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 20%;
    padding-right: 20%;
    align-content: center;
    background-color: #f5f5f5;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#headerRow1a {
    display: flex;
    justify-content: left;
    align-items: center;
}

#headerRow1b {
    display: flex;
    justify-content: right;
    align-items: center;
}

#email, #languageSelect, #login{
    margin-left: 6px;
    display: flex;
    align-items: center;
}

#languageSelect {
    position: relative;
}

#languageSelect img {
    margin-right: 6px;  
}

#languageSelect i {
    margin-left: 6px;
}

#login i {
    margin-right: 6px;
}

#languageSelect:hover {
    cursor: pointer;
}



#socialMediaButtons {
    display: flex;
    justify-content: left;
    align-items: center;
}

#socialMediaButtons div {
    width: 35px;
    text-align: right;
}

#email::after, #socialMediaButtons::after, #login::before{
    content: "|";
    color: #e2e2e2;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
}

.manualBarDivider{
    font-weight: 100;
    color: #e2e2e2;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
}

#headerRow2 {
    grid-column: 2;
    background-color: white;
    display: grid;
    grid-template-columns: 4.2fr 10fr 4fr;
    grid-template-rows: repeat(2, 1fr);
}

#logo {
    margin-top: auto;
    margin-bottom: auto;
}

#navSelection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75.5%;
    padding-bottom: 0.4vh;
    padding-left: 25px;
}

.navSelectionOption {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 800;
    transition: 0.2s;
    color:#252525;
}

.navSelectionOption:hover {
    transition: 0.2s;
    color:#7fad39;
}

#departmentSelect, #searchbarHolder, #cellphoneContact{
    height: 4.7vh;
}
#departmentSelect {
    background-color: #7fad39;
    color: white;
    margin: auto;
    margin-top: 0;
    width: 98%;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
}

#departmentTrigger:hover {
    cursor: pointer;
}

#titleHolder * {
    justify-self: center;
    align-self: center;
}

#departmenTitle {
    margin-left: 10px;
    margin-right: 15px;
}

#arrowDownIcon {
    width: 20%;
    display: flex;
    justify-content: center;
}

#searchbarHolder {
    width: 100%;
    margin: auto;
    margin-top: 0;
}

#searchbar{
    border: #e2e2e2 solid 1px;
    margin-left: auto;
    width: 96%;
    height: 100%;
    display: grid;
    grid-template-columns: 3.5fr 5.5fr 2fr;

}

#searchbar * {
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
    border: none;
    font-size: 16px;
    font-family: "Cairo", sans-serif;
}


#searchCategories {
    height: auto;
    font-weight: 700;
    display: flex;
    vertical-align: center;
    text-align: end;
}

#searchArrowDown {
    margin-left: 20px;
    width: 8px;
    height: 8px;
}

#searchInput{
    padding: 0;
    height: 100%;
    background-color:transparent;
}

.searchButton {
    background-color: #7fad39;
    color: white;
    font-weight: 700;
    border: #7fad39 solid 1px;
    font-size: 16px;
    font-family: "Cairo", sans-serif
}

.searchButton:hover {
    cursor: pointer;
}

#cellphoneContact {
    justify-self: end;
    width: 80%;
    display: grid;
    grid-template-areas:
     "phoneIcon phoneNumber phoneNumber"
     "phoneIcon phoneTip phoneTip"
     ;  
    column-gap: 10px;
    row-gap: 10px;
}

#phoneIcon {
    grid-area: phoneIcon;
    background-color: #f5f5f5;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7fad39;
    border-radius: 50%;
}

#phoneNumber {
    grid-area: phoneNumber;
    font-weight: 700;
    line-height: 1em;
    font-size: 18px;
}

#phoneTip {
    grid-area: phoneTip;
    color: #6f6f6f;
    font-size: 14px;
}

#notifIcons {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 95%;
    height: 85%;
}

#itemMoney {
    font-size: 14px;
    color: #6f6f6f;
    
}

#itemMoney b{
    color: #252525;
}

.notiNumber{
    border-radius: 50%;
    background-color: #7fad39;
    color: #ffffff;
    font-weight: 700;
    margin: 0;
    text-align: center;
    font-size: .6em;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.noti{
    height: 24px;
    display: flex;
    margin-right: 10px;
}

.noti i {
    align-self: center;
}

.dropdownMenu {
    background-color: #252525;
    color: #ffffff;
    padding-left: 0;
    padding: 5px;
    position: absolute;
    list-style-type: none;
    top: 50px;
    transition: 0.5s;
    opacity: 0;
    z-index: -1;
}

#languageOptions {
    width: 100%;
}

#pagesSelection {
    font-weight: 500;
    width: 150px;
    top: 120px;
    transition: 0.5s;
    opacity: 0;
    padding-left: 12px;
    z-index: -1;
    line-height: 3vh;
}

#departmentOptions {
    font-weight: 500;
    top: 31px;
    width: 218px;
    position:absolute;
    color: #252525;
    border:#ffffff solid 1px;
    border-top: none;
    font-size: 16px;
    line-height: 40px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 1;
    z-index: 0;
    background-color: #ffffff;
    transition: 0.5s;
    height: 0vh;
    contain: content;
}

#pagesSelection li{
    color: #ffffff;
    transition: 0.5s;
}

#pagesSelection li:hover {
    color: #7fad39;
    transition: 0.5s;
}

#languageSelect:hover .dropdownMenu {
    opacity: 1;
    z-index: 5;
    top: 10px;
    transition: 0.5s;
}

#pagesHolder:hover .dropdownMenu{
    opacity: 1;
    z-index: 5;
    top: 85px;
    transition: 0.5s;
}

#departmentTrigger {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#departmentTrigger:checked+.dropdownMenu{
    border: #e2e2e2 solid 1px;
    border-top: none;
    height:45vh;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.5s;
}

/* FOOTER SECTION */

footer {
    grid-column: 2;
    width: 100%;
    height: 45vh;
    background-color: #F3F6FA;
    grid-template-columns: 1fr 3fr 1fr;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
}

#footerHolder {
    grid-column: 2;
    display: grid;
    grid-template-areas: 'contact usefulLinks newsletter'
    'credit credit credit';
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: 4fr 0.8fr;
    margin-top: 5.5vh;
    
}


#footerContact {
    grid-area: contact;
}

#footerUsefulLinks{
    grid-area: usefulLinks;
    
}

#footerUsefulLinks{
    list-style-type: none;
    padding-left: 0;
}

#footerUsefulLinks ul{
    width: 100%;
    height: 27.5vh;
    display: flex;
    flex-flow: column wrap;    
}

#footerUsefulLinks ul li{
    width: 50%;
    text-align: left;
    vertical-align: center;
}

#footerNewsletter{
    grid-area: newsletter;
}

.interactiveSocialMediabutton{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: #252525;
    background-color: #fff;
    transition: 0.3s;
}

.interactiveSocialMediabutton:hover{
    color: #fff;
    background-color: #7fad39;
    transition: 0.3s;
}

#footerCredit{
    grid-area: credit;
    display: flex;
    justify-content: center;
    color:#6f6f6f;
    flex-direction: column;
}

#footerCredit #trueEnd {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.5vh;
}

#footerLineDiv{
    height: 0.2vh;
    background-color:#e2e2e2;
}

#footerCredit img {
    height: 2.4vh;
}

#footerCredit a {
    color: #007bff;
}

#footerCredit a:hover {
    color: #fff;
}

#footerContact {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 1vh;
}


/* INDEX/GENERAL SECTION*/


#initialBanner {
    display: flex;
    justify-content: right;
    margin-bottom: 6vh;
}

#initialBanner div {
    display: flex;
}   

#initialBannerImage {
    justify-self: center;
}

#initialBannerText {
    position: absolute;
    align-self: center;
    left: 39%;
    width: 15%;
    text-wrap:wrap;
    display: flex;
    align-items: left;
    flex-flow: column;
}

#initialBannetStyle1 {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 800;
    color:#7fad39;
}

#initialBannetStyle2 {
    font-size: 48px;
    font-weight: 800;
    color:#252525;
    line-height: 50px;
}

#initialBannetStyle3 {
    color:#6f6f6f;
}

#initialBannerText .searchButton {
    margin-top: 40px;
    width: 50%;
    height: 4vh;
    vertical-align: middle;
    letter-spacing: 2px;
    font-size: 14px;
}

.manualCarousel {
    overflow: auto;
    white-space: nowrap;
    
}

.namedProductBox {
    background-color:#f5f5f5;
    width: 260px;
    height: 260px;
    display: flex;
    align-self: center;
    justify-content: center;
    position: relative;
}
.nameProductBox {
    background-color: #ffffff;
    width: 200px;
    height: 4.5vh;
    margin-bottom: 1vh;
    position: absolute;
    align-self: flex-end;
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#productBoxHolder {
    width: 1130px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-flow:row nowrap;
    column-gap: 30px;
    margin-bottom: 10vh;
}

#productBoxHolder .namedProductBox{
    width: 260px;
    width: 260px;
}

#featured {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#featuredTitle {
    font-weight: 700;
    font-size: 36px;
}

.money {
    font-weight: 700;
    font-size: 18px;
}

#featuredSelection {
    margin: auto;
    display: flex;
    column-gap: 24px;
    font-size: 18px;
}

.greenLine {
    background-color: #7fad39;
    width: 100px;
    height: 0.5vh;
    margin-bottom: 4vh;
}

#smallgreenLine {
    background-color: #7fad39;
    width: 100%;
    height: 0.3vh;
    margin-bottom: 4vh;
}

#featuredGrid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    width: 100%;
    height: 75vh;
    row-gap: 30px;
    column-gap: 30px;
    margin-bottom: 8vh;
}

#featuredGrid div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.featuredImage {
    background-color: #f5f5f5;
    width: 100%;
}

.featuredImage * {
    width: 100%;
}

#banners {
    display: flex;
    justify-content: space-between;
    height: 27.3vh;
    margin-bottom: 8vh;
}

#banners * {
    height: 100%;
}

.latestProductsDisplay {
    display: grid;
    grid-template-rows: repeat(4,1fr);
    width: 30%;

}

.latestProductsDisplay>div {
    font-weight: 700;
    font-size: 25px;
    display: flex;
    align-content: center;
}

#latestProductsDisplayTitle  {
justify-content: space-between;
}

.latestProductsDisplayOption {
    display: block;
}

.latestProductsDisplay>div>div button{
    width: 30px;
    height: 30px;
    margin: 5px;
    border: #e2e2e2 solid 1px;
}

.latestProductsDisplay>div>div button:hover{
    border: #e2e2e2 solid 1px;
    cursor: pointer;
}

.latestProductsDisplayName {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
}

#latestProductsHolder {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#homeBlogDisplay {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
}

#homeBlogDisplay>div {
    display: flex;
    justify-content: space-between;
}

.blogEntry {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 10px;
}

.blogEntry img {
    width: 100%;
    margin-bottom: 10px;
}

.blogEntryDescription {
    color: #6f6f6f;
}

.blogEntryInteractions {
    color: #b2b2b2;
    justify-content: flex-start;
}

.blogEntryInteractions span {
    margin-right: 15px;
}

.blogEntryInteractions span i {
    margin-right: 5px;
}

.blogEntryTitle {
    font-weight: 700;
    font-size: 20px;
}

