body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    color: #252525;
    font-family: "Cairo", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    grid-column: 2;
}

#newsletterInput, #searchInput, #blogSearch, #contactForm input, #contactForm textarea{
    outline: none;
}

/* HEADER SECTION*/

header {
    grid-template-columns: 1fr 3fr 1fr;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 22vh;
    display: grid;
    grid-template-rows: 1fr 3.5fr;
}



.headerRow {
    user-select: none;
    align-content: center;
}

#headerRow1 {
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 20%;
    padding-right: 20%;
    align-content: center;
    background-color: #f5f5f5;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#headerRow1a {
    display: flex;
    justify-content: left;
    align-items: center;
}

#headerRow1b {
    display: flex;
    justify-content: right;
    align-items: center;
}

#email, #languageSelect, #login{
    margin-left: 6px;
    display: flex;
    align-items: center;
}

#languageSelect {
    position: relative;
}

#languageSelect img {
    margin-right: 6px;  
}

#languageSelect i {
    margin-left: 6px;
}

#login i {
    margin-right: 6px;
}

#languageSelect:hover {
    cursor: pointer;
}



#socialMediaButtons {
    display: flex;
    justify-content: left;
    align-items: center;
    
}

#socialMediaButtons div {
    width: 35px;
    text-align: right;
}

#email::after, #socialMediaButtons::after, #login::before{
    content: "|";
    color: #e2e2e2;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
}

.manualBarDivider{
    font-weight: 100;
    color: #e2e2e2;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
}

#headerRow2 {
    grid-column: 2;
    background-color: white;
    display: grid;
    grid-template-columns: 4.2fr 10fr 4fr;
    grid-template-rows: repeat(2, 1fr);
}

#logo {
    margin-top: auto;
    margin-bottom: auto;
}

#navSelection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75.5%;
    padding-bottom: 0.4vh;
    padding-left: 25px;
}

.navSelectionOption {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 800;
    transition: 0.2s;
    color:#252525;
}

.navSelectionOption:hover {
    transition: 0.2s;
    color:#7fad39;
}

#departmentSelect, #searchbarHolder, #cellphoneContact{
    height: 4.7vh;
}
#departmentSelect {
    background-color: #7fad39;
    color: white;
    margin: auto;
    margin-top: 0;
    width: 98%;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
}

#departmentTrigger:hover {
    cursor: pointer;
}

#titleHolder * {
    justify-self: center;
    align-self: center;
}

#departmenTitle {
    margin-left: 10px;
    margin-right: 15px;
}

#arrowDownIcon {
    width: 20%;
    display: flex;
    justify-content: center;
}

#searchbarHolder {
    width: 100%;
    margin: auto;
    margin-top: 0;
}

#searchbar{
    border: #e2e2e2 solid 1px;
    margin-left: auto;
    width: 96%;
    height: 100%;
    display: grid;
    grid-template-columns: 3.5fr 5.5fr 2fr;

}

#searchbar * {
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
    border: none;
    font-size: 16px;
    font-family: "Cairo", sans-serif;
}


#searchCategories {
    height: auto;
    font-weight: 700;
    display: flex;
    vertical-align: center;
    text-align: end;
}

#searchArrowDown {
    margin-left: 20px;
    width: 8px;
    height: 8px;
}

#searchInput{
    padding: 0;
    height: 100%;
    background-color:transparent;
    color: #b2b2b2;
}

.searchButton {
    background-color: #7fad39;
    color: white;
    font-weight: 700;
    border: #7fad39 solid 1px;
    font-size: 16px;
    font-family: "Cairo", sans-serif
}

.searchButton:hover {
    cursor: pointer;
}

#cellphoneContact {
    justify-self: end;
    width: 80%;
    display: grid;
    grid-template-areas:
     "phoneIcon phoneNumber phoneNumber"
     "phoneIcon phoneTip phoneTip"
     ;  
    column-gap: 10px;
    row-gap: 10px;
}

#phoneIcon {
    grid-area: phoneIcon;
    background-color: #f5f5f5;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7fad39;
    border-radius: 50%;
}

#phoneNumber {
    grid-area: phoneNumber;
    font-weight: 700;
    line-height: 1em;
    font-size: 18px;
}

#phoneTip {
    grid-area: phoneTip;
    color: #6f6f6f;
    font-size: 14px;
}

#notifIcons {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 95%;
    height: 85%;
}

#itemMoney {
    font-size: 14px;
    color: #6f6f6f;
    
}

#itemMoney b{
    color: #252525;
}

.notiNumber{
    border-radius: 50%;
    background-color: #7fad39;
    color: #ffffff;
    font-weight: 700;
    margin: 0;
    text-align: center;
    font-size: .6em;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.noti{
    height: 24px;
    display: flex;
    margin-right: 10px;
}

.noti i {
    align-self: center;
}

.dropdownMenu {
    background-color: #252525;
    color: #ffffff;
    padding-left: 0;
    padding: 5px;
    position: absolute;
    list-style-type: none;
    top: 50px;
    transition: 0.5s;
    opacity: 0;
    z-index: -1;
}

#languageOptions {
    width: 100%;
}

#pagesSelection {
    font-weight: 500;
    width: 150px;
    top: 120px;
    transition: 0.5s;
    opacity: 0;
    padding-left: 12px;
    z-index: -1;
    line-height: 3vh;
}

#departmentOptions {
    font-weight: 500;
    top: 31px;
    width: 218px;
    position:absolute;
    color: #252525;
    border:#ffffff solid 1px;
    border-top: none;
    font-size: 16px;
    line-height: 40px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 1;
    z-index: 0;
    background-color: #ffffff;
    transition: 0.5s;
    height: 0vh;
    contain: content;
}

#pagesSelection li{
    color: #ffffff;
    transition: 0.5s;
}

#pagesSelection li:hover {
    color: #7fad39;
    transition: 0.5s;
}

#languageSelect:hover .dropdownMenu {
    opacity: 1;
    z-index: 5;
    top: 10px;
    transition: 0.5s;
}

#pagesHolder:hover .dropdownMenu{
    opacity: 1;
    z-index: 5;
    top: 85px;
    transition: 0.5s;
}

#departmentTrigger {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#departmentTrigger:checked+.dropdownMenu{
    border: #e2e2e2 solid 1px;
    border-top: none;
    height:45vh;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.5s;
}

.linkTitle {
    font-weight: 700;
    font-size: 45px;
    margin: 0;
}

.fa-minus{
    margin-right: 15px;
}

.linkPath {
    position: absolute;
    margin-top: 8vh;
}

/* FOOTER SECTION */

footer {
    grid-column: 2;
    width: 100%;
    height: 55.5vh;
    background-color: #F3F6FA;
    grid-template-columns: 1fr 3fr 1fr;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
}

#footerHolder {
    grid-column: 2;
    display: grid;
    grid-template-areas: 'none none none'
    'contact usefulLinks newsletter'
    'credit credit credit';
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: 0.5fr 2fr 0.7fr;
}


#footerContact {
    grid-area: contact;
    grid-row: 2;
}

#footerUsefulLinks{
    grid-area: usefulLinks;
    grid-row: 2;
    list-style-type: none;
    padding-left: 0;
}

#footerUsefulLinks ul{
    width: 100%;
    height: 25.5vh;
    display: flex;
    flex-flow: column wrap;  
    padding-left: 0;
    list-style-type: none;
}

#footerUsefulLinks ul li{
    width: 50%;
    text-align: left;
    vertical-align: center;
    font-size: 14px;
    margin-bottom: 1vh;
}

#footerNewsletter{
    grid-area: newsletter;
    display: grid;
    grid-row: 2;
    grid-template-rows: 1fr 2fr 2.5fr 4fr
}

#footerNewsletterText {
    font-size: 14px;
}

#newsletterSubscribe {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    height: 5.5vh;
}

#newsletterInput {
    padding: 0;
    background-color: transparent;
    border: none;
    background-color: #fff;
    padding-left: 20px;
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    color: #000;
    border: 1px solid #ededed;
}

#newsletterButton {
    background-color: #7fad39;
    color: white;
    font-weight: 700;
    border: #7fad39 solid 1px;
    font-size: 14px;
    font-family: "Cairo", sans-serif
}

.interactiveSocialMediabutton{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #252525;
    background-color: #fff;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 1px #e7e7e7;
}

#interactiveSocialMediabuttonHolder {
    display: flex;
    flex-direction: row;
    gap: 17px;
}

.interactiveSocialMediabutton:hover{
    color: #fff;
    background-color: #7fad39;
    transition: 0.3s;
}

.featuredButtonsHoverable .interactiveSocialMediabutton:hover{
    color: #fff;
    background-color: #7fad39;
    transition: 0.3s;
    transform: rotate(360deg);
}

#footerCredit{
    grid-area: credit;
    display: flex;
    grid-row: 3;
    justify-content: center;
    color:#6f6f6f;
    flex-direction: column;
}

#footerCredit #trueEnd {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.5vh;
    background-color: #F3F6FA;
}

#footerLineDiv{
    height: 0.2vh;
    background-color:#e2e2e2;
}

.footerSmallTitle {
    font-weight: 700;
}

#footerCredit img {
    height: 2.4vh;
}

#footerCredit a {
    color: #007bff;
}

#footerCredit a:hover {
    color: #fff;
}

#footerContact {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 1vh;
}


/* INDEX/GENERAL SECTION*/


#initialBanner {
    display: flex;
    justify-content: right;
    margin-bottom: 6vh;
}

#initialBanner div {
    display: flex;
}   

#initialBannerImage {
    justify-self: center;
}

#initialBannerText {
    position: absolute;
    align-self: center;
    left: 39%;
    width: 15%;
    text-wrap:wrap;
    display: flex;
    align-items: left;
    flex-flow: column;
}

#initialBannetStyle1 {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 800;
    color:#7fad39;
}

#initialBannetStyle2 {
    font-size: 48px;
    font-weight: 800;
    color:#252525;
    line-height: 50px;
}

#initialBannetStyle3 {
    color:#6f6f6f;
}

#initialBannerText .searchButton {
    margin-top: 40px;
    width: 50%;
    height: 4vh;
    vertical-align: middle;
    letter-spacing: 2px;
    font-size: 14px;
}

.manualCarousel {
    overflow: auto;
    white-space: nowrap;
    
}

.namedProductBox {
    background-color:#f5f5f5;
    width: 260px;
    height: 260px;
    display: flex;
    justify-content: center;
    position: relative;
}
.nameProductBox {
    background-color: #ffffff;
    width: 200px;
    height: 4.5vh;
    margin-bottom: 1vh;
    position: absolute;
    align-self: flex-end;
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#productBoxHolder {
    width: 1130px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-flow:row nowrap;
    column-gap: 30px;
    margin-bottom: 10vh;
}

#productBoxHolder .namedProductBox{
    width: 260px;
    width: 260px;
}

#featured {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#featuredTitle {
    font-weight: 700;
    font-size: 36px;
}

.money {
    font-weight: 700;
    font-size: 18px;
}

#featuredSelection {
    margin: auto;
    display: flex;
    column-gap: 24px;
    font-size: 18px;
}

.greenLine {
    background-color: #7fad39;
    width: 100px;
    height: 0.5vh;
    margin-bottom: 4vh;
}

#smallgreenLine {
    background-color: #7fad39;
    width: 100%;
    height: 0.3vh;
    margin-bottom: 4vh;
}

#featuredGrid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    width: 100%;
    height: 75vh;
    row-gap: 30px;
    column-gap: 30px;
    margin-bottom: 8vh;
}

#featuredGrid div, #shopResultsGrid div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    contain: content;
}

.featuredImage {
    position: relative;
    background-color: #f5f5f5;
    width: 100%;
    
}

.featuredImage img {
    width: 100%;
}

#featuredGrid div .featuredButtonsHoverable {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 280px;
    gap: 15px;
    transition: 0.3s;
}
#featuredGrid div:hover .featuredButtonsHoverable {
    top: 200px;
    transition: 0.3s;
}


#banners {
    display: flex;
    justify-content: space-between;
    height: 27.3vh;
    margin-bottom: 8vh;
}

#banners * {
    height: 100%;
}

.latestProductsDisplay {
    display: grid;
    grid-template-rows: repeat(4,1fr);
    width: 30%;

}

.latestProductsDisplay>div {
    font-weight: 700;
    font-size: 25px;
    display: flex;
    align-content: center;
}

#latestProductsDisplayTitle  {
justify-content: space-between;
}

.latestProductsDisplayOption {
    display: block;
}

.latestProductsDisplay>div>div button{
    width: 30px;
    height: 30px;
    margin: 5px;
    border: #e2e2e2 solid 1px;
}

.latestProductsDisplay>div>div button:hover{
    border: #e2e2e2 solid 1px;
    cursor: pointer;
}

.latestProductsDisplayName {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
}

#latestProductsHolder {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#homeBlogDisplay {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
}

#homeBlogDisplay>div {
    display: flex;
    justify-content: space-between;
}

.blogEntry {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 10px;
}

.blogEntry img {
    width: 100%;
    margin-bottom: 10px;
}

.blogEntryDescription {
    color: #6f6f6f;
}

.blogEntryInteractions {
    color: #b2b2b2;
    justify-content: flex-start;
}

.blogEntryInteractions span {
    margin-right: 15px;
}

.blogEntryInteractions span i {
    margin-right: 5px;
}

.blogEntryTitle {
    font-weight: 700;
    font-size: 20px;
}

section {
    width: 100%;
    background-image: url(imgs/breadcrumb.jpg.webp);
    height: 17vh;
    width: 100%;
    background-repeat: no-repeat;
    grid-column-start: 1;
    grid-column-end: 4;
    background-size: 110%;
    background-position-x: 50%;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#shopDivider {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* SHOP SECTION*/

#shopOptions {
    color: #252525;
    padding-left: 0;
    padding: 5px;
    list-style-type: none;
    
}

#shopOptions li {
    margin-bottom: 1vh;
}

.shopTitle {
    font-weight: 700;
    margin-bottom: 2vh;
}

#saleoff {
    font-size: 40px;
    margin-bottom: 0vh;
}

#saleoffLine {
    width: 140px;
}

#shopDepartments, #blogSearchBy {
    font-size: 24px;
}

#latestProductsDisplayFix {
    width: 90%;
    grid-template-rows: 0.5fr repeat(3, 1fr);
}

.priceRangeSize {
    width: 100%;
    margin-bottom: 3vh;

}

form .priceRangeSize {
    margin-bottom: 0vh;
}

#fakePriceRange {
    color: #007bff;
}

#shopDivider .fa-minus{
    margin-left: 15px;
    margin-right: 15px;
}

#shopColorHolder {
    width: 70%;
    height: 13vh;
    display: flex;
    flex-flow: column wrap;

}

#shopColorHolder div {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 0.5vh;
}

.colorCircle{
    border-radius: 50%;
    width: 14px;
    height: 14px;
    margin-right: 20px;
}

#circleWhite {
    background-color: white;
    border: #252525 solid 2px;
    box-sizing: border-box;

}
#circleRed {
    background: #D62D2D;

}
#circleBlue {
    background: #249BC8;

}
#circleGray {
    background: #E9A625;

}
#circleBlack {
    background: #252525;

}
#circleGreen {
    background: #3CC032;
}

#sizeIndicatorHolder {
    width: 60%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 1vh;
    column-gap: 17px;
    margin-bottom: 3vh;
    
}

.sizeIndicatorBox {
    cursor: pointer;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    width: 50px;
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f5f5f5;
}

#indicatorBoxExtra {
    width: 65px;
}

.indicatorBoxSml {
    cursor: pointer;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    width: 48px;
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f5f5f5;
}

#indicatorBoxXl {
    width: 70px;
}

#saleBoxHolder {
    width: 850px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-flow:row nowrap;
    column-gap: 30px;
    margin-bottom: 10vh;
    
}
.discountStamp {
    position: absolute;
    width: 45px;
    height: 45px;
    font-size: 14px;
    color: white;
    background-color: #dd2222;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 15px;
    left: 15px;
}

.discountedInfo {
    top: 280px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.discountedInfo .money {
    padding-right: 20px;

}

.grayInfo, .crossedMoney {
    color: #b2b2b2;
    font-size: 14px;
}

.discountedTitle {
    font-size: 18px;
}

.crossedMoney {
    text-decoration: line-through;
}

#shopResultsHeader {
    display: flex;
    justify-content: space-between;
}

#shopResultsHeader {
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: #b2b2b2;
}

#shopResultsHeader b {
    color: #000;
    
}

#shopIcons {
    margin-left: 20px;
}

#shopIcons * {
    transition: 0.2s;
    cursor: pointer;
    margin-left: 20px;
}

#shopIcons *:hover {
    color: #7fad39;
    transition: 0.2s;
}

#shopProductFound b {
    margin: 6px;
}

#shopSortBy span {
    margin-left: 12px;
}

#shopSortBy span img {
    margin-left: 6px;
}

#shopResultsGrid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    width: 100%;
    row-gap: 30px;
    column-gap: 30px;
    margin-bottom: 8vh;
}

.pageNavButtons {
    display: flex;
    gap: 25px;
    margin-bottom: 10vh;
}

.pageNavButtons div {
    width: 30px;
    height: 30px;
    border: solid #b2b2b2 1px;
    color: #b2b2b2;
    background-color: #fff;
    box-sizing: border-box;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    font-size: 14px;
    cursor: pointer;
}

.pageNavButtons div:hover {
    color: #fff;
    border: solid #7fad39 1px;
    background-color: #7fad39;
    transition: 0.2s;
}


/* BLOG SECTION*/

#blogDivider {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#blogSearch {
    border-radius: 20px;
    border: solid  #e1e1e1 1px;
    height: 4.5vh;
    font-size: 16px;
    width: 90%;
    font-family: "Cairo", sans-serif;
    padding-left: 12px;
    color: #b2b2b2;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

#blogDivider div form {
    display: flex;
}


.fa-magnifying-glass {
    color: #b2b2b2;
    top: 6.6vh;
    left: -30px;
    position: relative;
}

#blogOptions {
    color: #666666;
    padding-left: 0;
    padding: 5px;
    list-style-type: none;
    
}

#blogOptions li {
    margin-bottom: 1.5vh;
}

.blogRecentNews {
      display: grid;
      grid-template-rows: 2fr 1fr;
      grid-template-columns: 1fr 3fr;
      grid-template-areas: 'newsImage newsTitle'
      'newsImage newsDate'; 
      width: 100%;
      height: 7vh; 
      margin-top: 4vh;
}

.blogRecentNews div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      word-wrap: break-word;
}

.newsImage {
      grid-area: newsImage;
      width: 70px;
      height: 70px;

}

.newsImage img {
     object-fit: contain;
     width: 100%;
}

.newsTitle {
      grid-area: newsTitle;
      font-size: 16px;
      color: #333333;
      font-weight: 700;
      width: 70%;
      line-height: 2vh;
}

.newsDate {
      grid-area: newsDate;
      font-size: 12px;
      color: #999999;

}

#blogSearchBy {
    margin-top: 5vh;
    margin-bottom: 5vh;

}

#searchByIndicatorHolder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1vh;
    column-gap: 17px;
    margin-bottom: 3vh;
} 

#blogHolder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    row-gap: 6vh;
    column-gap: 30px;
    margin-bottom: 4vh;

}

#blogHolder .blogEntry {
    width: inherit;

}

.readMoreButton {
   width: 35%;
   height: 5vh;
   color: #1c1c1c;
   border: 1px solid #b2b2b2;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 14px;
   padding-left: 6px;
   padding-right: 6px;
   border-radius: 24px;
   letter-spacing: 1px;
   margin-top: 2vh;
}

.readMoreButton span {
   margin-right: 12px;
}

#blogDivider div .pageNavButtons {
   margin-top: 3vh
}

/* CONTACT SECTION */

#mapsHolder {
    grid-column-start: 1;
    grid-column-end: 4;
    height: 55vh;
}

#contactBigInfoHolder {
   display: grid;
   grid-template-columns: repeat(4,1fr);
   column-gap: 50px;
   height: 29vh;
}

#contactBigInfoHolder div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

.contactBigInfoIcon {
   color: #7fad39;
   margin-top: 3vh;
}

.contactBigInfoTitle {
   font-size: 24px;
   font-weight: 700;
   color: #1c1c1c;
   margin-top: 4vh;
}

.contactBigInfoData {
   font-size: 16px;
   color: #666666;
   margin-top: -1vh;
}


#mapSpeechBubble, #mapSpeechBubbleText {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #fff;
   height: 14vh;
   
}

#mapSpeechBubble {
    box-shadow: 0px 0px 8px #868686;
}

#mapSpeechBubbleText .contactBigInfoTitle{
    margin-top: 0;
    
}

#mapsHolder {
   position:relative;
   display: flex;
   justify-content: center;
   align-items: center;

}

#mapSpeechBubbleHolder {
   width: 18%;
   position:absolute;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

#mapSpeechBubble .fa-caret-down {
   color: #fff;
   margin-top:0.5vh;
   
}

#realLocationIcon {
   color: #7fad39;
   margin-top: 3vh;
}


#contactForm {
    display: grid;
    height: 43vh;
    row-gap: 3vh;
    column-gap: 30px;
    width: 100%;
    grid-template-areas: 
    'title title'
    'name email'
    'message message'
    'buttonHolder buttonHolder';
    grid-template-rows: 2fr 1fr 2.5fr 1fr;
    margin-top: 5vh;
    margin-bottom: 10vh;
}


#contactFormTitle {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1c1c1c;
    font-size: 36px;
    font-weight: 700;
}

#contactFormName {
    grid-area: name;
}

#contactFormEmail {
    grid-area: email;
}

#contactFormMessage {
    grid-area: message;
}

#contactFormButtonHolder {
    grid-area: buttonHolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contactForm input, #contactForm textarea {
    border: #ebebeb solid 1px;
    border-radius: 6px;
    color: #6f6f6f;
    padding-left: 16px;
    font-size: 16px;
    font-family: "Cairo", sans-serif;
}

#contactForm textarea {
    resize: none;
    padding-top: 12px;
}

#contactForm button {
    height: 5vh;
    width: 18%;
    letter-spacing: 1px;
    font-size: 18px;
}
 
